VITE_SUPABASE_URL=https://maihktpufxumuurrmmxe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1haWhrdHB1Znh1bXV1cnJtbXhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MjUxNzksImV4cCI6MjA5NzQwMTE3OX0.X5_N78nvaNvjjr6lE69CoRELWF5jnAWGFQImmpd-uBo
